body {
    font-size: 14px;
    font-family: Arial, serif;
    line-height: 22px;
    color: #fff;
}

.block {
    background-color: #0f6674;
    padding: 10px 15px;
    margin-bottom: 15px;
}

.min-h-100px {
    min-height: 100px;
}

img {
    width: 100%;
}

hr {
    background-color: #0b2e13;
}

p {
    margin-bottom: 0;
}

b {
    color: #d39e00;
}

.two-column ul {
    list-style-position: inside;
    column-count: 2;
    list-style-type: none;
}
ol{
    list-style-type: none;
}

.text-align-end {
    text-align: end;
}

.col-20 {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .col-20 {
        flex: 0 0 20%;
        max-width: 20%;
        position: relative;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.col-20 > .block {
    min-height: 100px;
}
